/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

html {
	display: inline-block;
	max-width: 44%;
	padding-left: 102px;
	padding-right: 200px;
}



/* Navagation */

nav a {
	display: inline-block;
	padding: 30px;
	position:relative; 
	right: 39px;
	font-family: auto;

}

img.logo {
	display: inline-block;
	margin: 12px;
	position: relative;
	left: 670px;
	bottom: 73px;

}

/* Content */

.info {
	position: relative;
	bottom: 125px;
}

.container {
	position: relative;
	top: 120px;
	line-height: 345%;
}


 .oneh {
	position: relative;
	left: 100px;
	font-size: 80px;
	
}

.twoh {
	position: relative;
	left: 200px;
	font-size: 80px;
}

.threeh {
	position: relative;
	left: 140px;
	font-size: 80px;

}
#start {
	display: inline;
	position: relative;
	left: 170px;
	width: 150px;
	height: 60px;
	padding-left: 35px;
	padding-right: 35px;
	box-sizing: content-box;
	border: 1px solid black
	
	
}

.logo2 {
	display: inline-block;
	position: relative;
	left: 510px;
	bottom: 225px;
}


.container-two{
	display: inline-block;
	width: 50%;
}

.container-three{
	display: inline-block;
	width: 44%;
	height: 150px;
	position: relative;
	left: 30px;
	
}

.container-four{
	display: inline-block;
	width: 30%;
	height: 10px;
}

.container-five{
	display: inline-block;
	width: 30%;
	height: 100px;
	position: relative;
	left: 39px;
	top: 15px;
}

.container-six{
	display: inline-block;
	width: 30%;
	height: 190px;
	position: relative;
	left: 84px;
	top: 15px;
}

.copyR{
	position: relative;
	top: 40px;
	text-align: center;
}






